<div id="Projects">
    <div class="col navMenu mainfont">
        <h2 class="text-center" > Projects </h2>
    </div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Language</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>
                <a href="https://github.com/woxdak/full-stack-ecommerce-website">
                  Full stack ecommerce website</a>
            </td>
            <td>This project creates full stack ecommerce website using Angular (back-end), Springboot (front-end), MySQL (database), okta(third library to handle request and valid user)
            </td>
            <td>Angular, Java Springboot, Bootstrap, HTML,  CSS, MySQL, Okta</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>
                <a href="https://github.com/woxdak/path-finding-visualizer-version-2.1">
                  Path finding visualizer version 2.1
                </a>
                
            </td>
            <td>This project applies graph theory to visualize Dijkstra and A* algorithm finding the shortest path between two nodes. It also shows how to create a maze on the grid. Written in java.</td>
            <td>JavaFx 15, Java Gradle</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>
                <a href="https://github.com/woxdak/WindowShopping-UMSL">
                  WindowShopping-UMSL
                </a>
            </td>
            <td>This project won first place in UMSL Women Hackathon. It is about Window Shopping app which creates an appointment for customers. It can run on web and mobile platform. </td>
            <td>Angular, Bootstrap</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>
                <a href="https://github.com/woxdak/recipe-book">
                    Recipe Book
                </a>
            </td>
            <td>This project is a <strong>full stack</strong> which authenticates the user to display recipe book and add ingredients. It also valid input from users such as email and password. The project fetches and saves data on firebase. </td>
            <td>Angular + Firebase</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>
                <a href="https://github.com/woxdak/burger-app">
                    Burger Builder
                </a>
            </td>
            <td>This project uses React to create burger app,
                render content from the web app on mobile devices. </td>
            <td>React, HTML, CSS</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>
                <a href="https://github.com/woxdak/FindingFrequencyOfChracters">
                  Finding Frequency Of Chracters
                </a>
            </td>
            <td>This project uses Binary Tree to find the frequency of characters in txt file.</td>
            <td>C++ </td>
          </tr>
          
        </tbody>
      </table>
</div>
