<div class="row mainfont" id="AboutMe">
  <div class="col navMenu">
    <h2 class="text-center"> About Me</h2>
  </div>
</div>

<div class="row bg-light">
  <div class="col-md-6">
    <h3>Education</h3>
    <p>University of Missouri-St. Louis </p>
    <p>Bachelor Degree of Computer Science</p>
    <p>GPA: 4.0</p>
    <p>Expected Graduation Date: 5/2022</p>
    <h5>About Me</h5>
    <p>Hi! I am Warren. I'm a junior student at Univeristy of Missouri-St. Louis. I study computer science and I am
      looking for a software engineer position.
      This is my portfolio website to show previous projects that I worked in the past.
    </p>
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="assets/images/UMSL.png">
  </div>
</div>

<div class="row bg-light"><br></div>
<div class="row bg-light">
  <div class="col-md-6 order-md-1 order-2">
    <iframe width="420" height="315" src="https://www.youtube.com/embed/5Vdv3cFnX5M">
    </iframe>
  </div>
  <div class="col-md-6 order-md-12 order-1">
    <h3>Full stack ecommerce website</h3>
    <p>This project creates <strong>full stack</strong> ecommerce website using Angular (back-end), Springboot
      (front-end), MySQL (database), okta(third library to handle request and valid user) </p>
  </div>
</div>
<div class="row bg-light">
  <div class="col-md-6">
    <h3>WindowShopping-UMSL</h3>
    <p>This project won first place in UMSL Women Hackathon. </p>
    <p> It is about Window Shopping app which creates an appointment for customers. It can run on web and mobile
      platform.</p>
    <p>It also supports authentication the user and validate email and password.
    </p>
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="assets/images/windowShopping.png">
  </div>
  <div class="row bg-light">
    <div class="col-md-6 order-md-1 order-2">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/Bm-yrHga8lA">
      </iframe>
    </div>
    <div class="col-md-6 order-md-12 order-1">
      
      <h3>Path finding visualizer version2.1</h3>
      <p>This project applies graph theory to visualize Dijkstra and A* algorithm finding the shortest path between two
        nodes.</p>
      <p>It also shows how to create a maze on the grid. Written in java.</p>
    </div>
  </div>
  <div class="row bg-light">
    <div class="col-md-6">
      <h3>Recipe Book</h3>
      <p>This project build a <strong>full stack </strong>website to create recipe books, send data from web to firebase
        and fetch data from firebase</p>
      <p>It also supports authentication the user and validate email and password.
      </p>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="assets/images/recipe-book.png">
    </div>
  </div>